## Question 1

In [15]:
import re
str1 = input("Enter the email address : ")
match = re.search("(\w*)@(\w*).com", str1)
print(match.group(2))

Enter the email address : rahulreddy@tesla.com
tesla

## Question 2

In [1]:
str2 = input("Enter the words : ")
ls = sorted(str2.split(","))
for x in ls:
    print(x,end=",")

Enter the words : Dog,Monkey,Goat,Cat,Tiger,Lion,Zebra,Bull
Bull,Cat,Dog,Goat,Lion,Monkey,Tiger,Zebra,

## Question 3

__Set:__  
 -> A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements.  
 Ex: set = {12,48,14,47,1}  -> For creating set.

In [39]:
my_set = {1,7,14,"apple",21,5}
my_set

{1, 14, 21, 5, 7, 'apple'}

__Loops through sets and prints all elements:__

In [40]:
for x in my_set:
    print(x)

1
5
7
14
21
apple

 __Change and Add items in a set:__  
 -> Once a set is created, you cannot change its items, but you can add new items.  
 -> To add one item to a set use the add() method.  
 -> To add more than one item to a set use the update() method.

In [41]:
my_set.add("Orange")
my_set

{1, 14, 21, 5, 7, 'Orange', 'apple'}

In [42]:
my_set.update(["Grapes","Berrys"])
my_set

{1, 14, 21, 5, 7, 'Berrys', 'Grapes', 'Orange', 'apple'}

__Check wether the element is present in a set or not:__

In [43]:
print("apple" in my_set)

True

__Length of a set__

In [44]:
print(len(my_set))

9

__Remove and pop in a set:__  
-> Remove method removes what ever item we need  
-> pop method removes first item

In [45]:
my_set.remove("apple")
my_set

{1, 14, 21, 5, 7, 'Berrys', 'Grapes', 'Orange'}

In [46]:
x = my_set.pop()
print(x)
my_set

1

{14, 21, 5, 7, 'Berrys', 'Grapes', 'Orange'}

__Clear in a set:__  
-> Clears the entire set

In [48]:
my_set.clear()
my_set

set()

__join the two sets:__  
-> The __union__ method returns a new set with all items from both sets  
-> The __update__ method inserts the items in set2 into set1

In [49]:
my_set1 = {"Rock","Jhon","Tom"}
my_set2 = {1,2,3}
my_set3 = my_set1.union(my_set2)
my_set3

{1, 2, 3, 'Jhon', 'Rock', 'Tom'}

In [50]:
my_set1.update(my_set2)
my_set1

{1, 2, 3, 'Jhon', 'Rock', 'Tom'}

## Question 4

In [2]:
n = int(input("Enter the 'n' value : "))
my_input = input("Enter the values upto n : ")
my_list  = my_input.split(" ")
for x in range(1,(n+1)):
    if str(x) in my_list:
        pass
    else:
        print(x)

Enter the 'n' value : 8
Enter the values upto n : 7 6 4 8 5 2 1
3

## Question 5

In [34]:
L = input("Enter the values : ")
inlist = L.split(" ")
set1 = set(inlist)
outlist = list(set1)
outlist1 =[]
for x in outlist:
    outlist1.append(int(x))
    print(int(x),end =" ")

Enter the values : 47 84 78 12 14 14 12 12 78 84 47 78 12 84
12 14 78 47 84