In [19]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import *

In [20]:
data = pd.read_csv("C:/Users/RAHUL REDDY/Desktop/AIML/Letsupgrade/AI-ML-July-2020-master/Day-24/drive-download-20200810T141445Z-001/train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [22]:
data.drop(['PassengerId','Ticket','Cabin','Name'],axis=1,inplace=True)

In [23]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [24]:
le = preprocessing.LabelEncoder()
data['Sex'] = le.fit_transform(data['Sex'])
data['Embarked']= le.fit_transform(data['Embarked'])

In [25]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [38]:
y = data['Survived']
X= data.drop(['Survived'],axis=1)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state=0)
clf = BernoulliNB()
y_pred = clf.fit(X_train,y_train).predict(X_test)
print("Accurate Score is : ",accuracy_score(y_test,y_pred,normalize=True))
print(confusion_matrix(y_test,y_pred))

Accurate Score is :  0.7715355805243446
[[131  26]
 [ 35  75]]

In [39]:
y = data['Pclass']
X= data.drop(['Pclass'],axis=1)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state=0)
clf = BernoulliNB()
y_pred = clf.fit(X_train,y_train).predict(X_test)
print("Accurate Score is : ",accuracy_score(y_test,y_pred,normalize=True))
print(confusion_matrix(y_test,y_pred))

Accurate Score is :  0.5917602996254682
[[ 30   8  32]
 [  9  10  30]
 [ 24   6 118]]

In [40]:
y = data['Sex']
X= data.drop(['Sex'],axis=1)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state=0)
clf = BernoulliNB()
y_pred = clf.fit(X_train,y_train).predict(X_test)
print("Accurate Score is : ",accuracy_score(y_test,y_pred,normalize=True))
print(confusion_matrix(y_test,y_pred))

Accurate Score is :  0.7453183520599251
[[ 49  49]
 [ 19 150]]

In [41]:
y = data['SibSp']
X= data.drop(['SibSp'],axis=1)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state=0)
clf = BernoulliNB()
y_pred = clf.fit(X_train,y_train).predict(X_test)
print(accuracy_score(y_test,y_pred,normalize=True))
print("Accurate Score is : ",confusion_matrix(y_test,y_pred))

0.6891385767790262
Accurate Score is :  [[162  20   0   0   0   0   0]
 [ 43  22   0   0   0   0   0]
 [  6   2   0   0   0   0   0]
 [  5   2   0   0   0   0   0]
 [  2   0   0   0   0   0   0]
 [  1   0   0   0   0   0   0]
 [  2   0   0   0   0   0   0]]

In [42]:
y = data['Parch']
X= data.drop(['Parch'],axis=1)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state=0)
clf = BernoulliNB()
y_pred = clf.fit(X_train,y_train).predict(X_test)
print("Accurate Score is : ",accuracy_score(y_test,y_pred,normalize=True))
print(confusion_matrix(y_test,y_pred))

Accurate Score is :  0.7153558052434457
[[182  16   0   0   0]
 [ 31   9   0   0   0]
 [ 24   3   0   0   0]
 [  1   0   0   0   0]
 [  1   0   0   0   0]]

In [43]:
y = data['Embarked']
X= data.drop(['Embarked'],axis=1)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state=0)
clf = BernoulliNB()
y_pred = clf.fit(X_train,y_train).predict(X_test)
print("Accurate Score is : ",accuracy_score(y_test,y_pred,normalize=True))
print(confusion_matrix(y_test,y_pred))

Accurate Score is :  0.7340823970037453
[[  0   0  49]
 [  0   0  22]
 [  0   0 196]]